@import "https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&family=Poppins:wght@400;500;600;700;800&display=swap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  position: relative;
  min-height: 70vh;
  align-items: center;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.menu .navbar ul li {
  position: relative;
  float: left;
}
.menu .navbar ul li a {
  font-size: 17px;
  padding: 10px;
  color: #dfdde0;
  display: block;
  font-weight: 600;
  margin-top: 10px;
  background-color: #40223a;
  width: 100%;
  border-radius: 10px;
}
.menu .navbar ul li a:hover {
  color: rgba(253, 0, 173, 0.4941176471);
}
.menu label {
  cursor: pointer;
  display: none;
}

.logo {
  color: #dfdde0;
  font-size: 25px;
  font-weight: 800;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.moon {
  position: absolute;
  width: 800px;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-content {
  display: flex;
  text-align: center;
  justify-content: center;
}

.header-txt {
  width: 50%;
  text-align: center;
  justify-content: center;
}
.header-txt h1 {
  font-size: 55px;
  line-height: 70px;
  color: #fefffb;
  font-weight: 500;
  margin-bottom: 35px;
  margin-top: 95px;
  animation: blinker 3s linear infinite;
}
.header-txt span {
  font-weight: 800;
}
.header-txt p {
  color: #d9d9d9;
  font-size: 16px;
  margin-bottom: 35px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.header-img {
  width: 50%;
  z-index: -2;
}

.mac {
  width: 400px;
  margin-top: 120px;
}

.btn-1 {
  display: inline-block;
  padding: 13px 35px;
  color: #fefffb;
  border-radius: 25px;
  background: linear-gradient(90deg, rgb(131, 45, 153) 33%, rgb(193, 58, 143) 69%, rgb(196, 37, 116) 100%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.services {
  padding: 50px 0;
  text-align: center;
}
.services h2 {
  font-size: 40px;
  font-weight: 600;
  color: #fefffb;
  margin-bottom: 45px;
}

.info {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  padding: 2px 45px;
  border-radius: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #bb4e8a;
  background-color: #40223a;
  margin-bottom: 15px;
  margin-top: 95px;
}

.services-content {
  display: flex;
  align-items: center;
}

.services-txt {
  width: 50%;
}

.services-card {
  display: flex;
  align-items: flex-start;
  background-color: #151c24;
  padding: 15px 20px;
  border-radius: 25px;
  width: 500px;
  margin-bottom: 35px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
}
.services-card img {
  width: 25px;
  margin-right: 25px;
}

.card-txt {
  text-align: left;
}
.card-txt h3 {
  font-size: 16px;
  font-weight: 600;
  color: #fefffb;
  margin-bottom: 10px;
}
.card-txt p {
  font-size: 16px;
  color: #8d8d8d;
  margin-bottom: 10px;
}
.card-txt a {
  font-size: 16px;
  font-weight: 600;
  color: #ba00fd;
}

#popup-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background-color: #40223a;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.services-img {
  width: 50%;
}
.services-img img {
  width: 550px;
}

.usuarios {
  margin: 300px 0;
  padding: 20px 0;
  position: relative;
  background-color: black;
}

.usuario-txt {
  text-align: center;
}
.usuario-txt h2 {
  font-size: 40px;
  font-weight: 600;
  color: #fefffb;
  margin-bottom: none;
}
.usuario-txt p {
  font-size: 16px;
  color: #8d8d8d;
  margin-bottom: 10px;
}
.usuario-txt h3 {
  background: #ccc;
  background: linear-gradient(90deg, blue, red);
  font-size: 100px;
  line-height: 90%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.app {
  display: flex;
  padding: 30px 0;
}

.app-1 {
  width: 50%;
}
.app-1 img {
  width: 550px;
}

.app-2 {
  width: 50%;
  padding-left: 150px;
}
.app-2 h2 {
  font-size: 40px;
  font-weight: 600;
  color: #fefffb;
  margin-bottom: 40px;
}
.app-2 p {
  font-size: 16px;
  color: #8d8d8d;
  margin-bottom: 40px;
}

.prices-sec {
  padding: 80px 0;
  background-color: black;
}

.prices {
  display: flex;
  justify-content: space-between;
}

.price {
  background-color: #151c24;
  padding-bottom: 20px;
  margin: 0 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 30%;
  height: 500px;
}
.price h3 {
  font-size: 30px;
  font-weight: 600;
  color: #fefffb;
  margin-bottom: 35px;
  padding: 15px;
  border-radius: 25px 25px 0 0;
  background: linear-gradient(90deg, rgb(131, 45, 153) 33%, rgb(193, 58, 143) 69%, rgb(196, 37, 116) 100%);
}
.price ul {
  margin-top: 55px;
}
.price ul li {
  font-size: 16px;
  font-weight: 600;
  color: #fefffb;
  margin-bottom: 30px;
}
.price p {
  font-size: 18px;
  color: #ba00fd;
}

.footer {
  padding-top: 40px;
  background-color: #14191f;
}

.footer-1 {
  padding-bottom: 40px;
}
.footer-1 ul {
  display: flex;
  justify-content: space-between;
}
.footer-1 ul li a {
  color: #fefffb;
}
.footer-1 ul li a:hover {
  color: #ba00fd;
}

.footer-2 {
  padding: 15px;
  text-align: center;
  color: #fefffb;
  background-color: #14191f;
}

.col-md-4 {
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.col-md-3 {
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.col-md-6 {
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.col-12 {
  color: white;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 60px;
}

.btn-primary {
  background-color: #bb4e8a;
  color: white;
}

.titulo-nov {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 100px;
}

.titulo-nos {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 100px;
}

.titulo-cont {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 100px;
}

.titulo-sec {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 100px;
}

.titulo-nos2 {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 100px;
}

.nosotros-txt{
  color: #fefffb;
  font-size: 18px;
  text-align: justify;
  width: 50%;
  margin: 0 auto;
 
}

.nosotros-txt p{
  margin-bottom: 30px;
  margin-top: 30px;
}

@media (max-width: 991px) {
  .menu {
    padding: 30px;
  }
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #151c24;
    display: none;
  }
  .menu .navbar ul li {
    width: 100%;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
  .bg {
    width: 300px;
    left: -100px;
    top: -50px;
  }
  .header {
    min-height: 45vh;
  }
  .header img {
    width: 100%;
  }
  .header-content {
    flex-direction: column;
    padding: 100px 30px 0 30px;
    text-align: center;
  }
  .header-txt {
    width: 100%;
  }
  .header-txt h1 {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .lap {
    width: 250px;
  }
  .btn-1 {
    margin-bottom: 25px;
  }
  .services {
    padding: 30px;
  }
  .services h2 {
    font-size: 28px;
    font-weight: 600;
    color: #fefffb;
    margin-bottom: 30px;
  }
  .services-content {
    flex-direction: column;
    display: block;
  }
  .services-txt {
    width: 100%;
    width: 100%;
    margin-bottom: 20px;
  }
  .services-card {
    width: 100%;
    background-color: #151c24;
    padding: 15px;
    border-radius: 25px;
    width: 100%;
    margin-bottom: 20px;
  }
  .services-card img {
    width: 20px;
    margin-right: 15px;
  }
  .services-img {
    width: 100%;
    width: 100%;
    margin-bottom: 30px;
  }
  .services-img img {
    width: 250px;
    width: 100%;
  }
  .usuarios {
    margin: 0;
    padding: 50px 30px;
  }
  .wave-1 {
    display: none;
  }
  .wave-2 {
    display: none;
  }
  .usuario-txt h3 {
    font-size: 70px;
  }
  .app {
    flex-direction: column;
    padding: 50px 30px;
    align-items: center;
    text-align: center;
  }
  .app-1 {
    width: 100%;
  }
  .app-1 img {
    width: 250px;
    margin-bottom: 35px;
  }
  .app-2 {
    width: 100%;
    padding-left: 0;
  }
  .prices-sec {
    padding: 0;
  }
  .prices {
    flex-direction: column;
    align-items: center;
  }
  .price {
    width: 70%;
    height: 400px;
    margin-bottom: 35px;
  }
  .price h3 {
    font-size: 25px;
  }
  s .footer {
    text-align: center;
  }
  .footer-1 {
    padding-bottom: 10px;
  }
  .footer-1 ul {
    flex-direction: column;
  }
  .footer-1 ul li a {
    display: block;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 991px) and (max-width: 767px) {
  .services {
    padding: 30px 0;
    text-align: center;
  }
  .info {
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
    padding: 2px 30px;
    border-radius: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #bb4e8a;
    background-color: #40223a;
    margin-bottom: 10px;
    margin-top: 65px;
  }
  .card-txt {
    text-align: left;
  }
  .card-txt h3 {
    font-size: 14px;
    font-weight: 600;
    color: #fefffb;
    margin-bottom: 5px;
  }
  .card-txt p {
    font-size: 14px;
    color: #8d8d8d;
    margin-bottom: 5px;
  }
  .card-txt a {
    font-size: 14px;
    font-weight: 600;
    color: #fefffb;
  }
}
@media (max-width: 991px) and (max-width: 768px) {
  .col-md-4 {
    text-align: center;
    margin-top: 20px;
  }
  .col-md-3 {
    text-align: center;
    margin-top: 20px;
  }
  .col-md-6 {
    text-align: center;
    margin-top: 20px;
  }
  .col-12 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .titulo-nov {
    margin-top: 50px;
  }
  .titulo-nos {
    margin-top: 50px;
  }
  .titulo-cont {
    margin-top: 50px;
  }
  .titulo-sec {
    margin-top: 50px;
  }
}

/*# sourceMappingURL=styles.css.map */
