$color_1: #dfdde0;
$color_2: #fd00ad7e;
$color_3: #fefffb;
$color_4: #d9d9d9;
$color_5: #bb4e8a;
$color_6: #8d8d8d;
$color_7: #ba00fd;
$color_8: white;
$font-family_1: 'Poppins', sans-serif;
$background-color_1: black;
$background-color_2: #40223a;
$background-color_3: #151c24;
$background-color_4: #14191f;
$background-color_5: #bb4e8a;